target/
.m2-local/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/*
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/jarRepositories.xml
!.idea/misc.xml
!.idea/vcs.xml
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml

.idea/workspace.xml
.idea/copilot*.xml
.idea/shelf/
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dataSources/
.idea/httpRequests/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
